// RTL
html{
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 130vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
}

a{
  text-decoration: none;
}
// a:focus,
// a:visited{
  
// }



table{
  text-align: center;
  thead{
    tr{
      th,td{
        background-color: $main-color !important;
        font-size: 16px;
        font-family: 'Suisse-Reg';
        color: #fff !important;
        padding: 13px 15px !important;
        text-align: center;
      }
    }
  }
  tbody{
    tr{
      background-color: #FFFFFF;
      transition: 300ms;
      &:nth-of-type(odd) *{
        --bs-table-bg-type: #fff !important;
        --bs-table-color-type:none !important;
      }
      &:nth-of-type(even) *{
        --bs-table-bg-type: rgb(136 120 82 / 12%) !important;
        --bs-table-color-type:none !important;
      }
      &:hover{
        background-color:  rgba($color: $green-color, $alpha: 0.12);
        --bs-table-bg-type : none !important
      }
    }
    td{
      background-color: transparent !important;
      font-size: 14px;
      color: $grey-color;
      padding: 16px 10px !important;
    }
  }
}



  // checkbox + radio

/*
    checkbox
*/


/* The container */
.form-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;

  label {
    padding-#{$start-direction}: 37px;
    cursor: pointer;
    z-index: 99999;
    position: relative;
  }
  
  
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    #{$start-direction}: 0;
    height: 24px;
    width: 24px;
    background-color: #f7f7f7;
    border: 1px solid #5E6065;
    border-radius: 2px;
    transition: 200ms;
  }
  
  /* On mouse-over, add a grey background color */
  // .form-check:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }
  
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: $green-color;
    border-color: $green-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
   input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
   .checkmark:after {
    #{$start-direction}: 7px;
    top: 2px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


}




/*
    raaaaaaaaaadio
*/


/* The container */
.form-radio-inline{
  display: inline-block;
  padding-#{$end-direction}: 24px;
  margin-#{$end-direction}: 12%;
}
.form-radio {
  // display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;

  label {
    font-family: 'Suisse-Li';
    color: $grey-color3;
    padding-#{$start-direction}: 37px;
    cursor: pointer;
    z-index: 99999;
    position: relative;
  }
  
  
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    #{$start-direction}: 0;
    height: 24px;
    width: 24px;
    background-color: #f7f7f7;
    border: 1px solid #5E6065;
    border-radius: 13px;
    transition: 200ms;
  }
  
  /* On mouse-over, add a grey background color */
  // .form-check:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }
  
  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #f7f7f7;
    border-color: $green-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
   input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
   .checkmark:after {
    #{$start-direction}: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    border-radius: 13px;
    background-color: $green-color;
  }


}








// add-task

// .form-white-card {

  .form-cont{
    margin-bottom: 30px;
  }
  .form-label{
    display: block;
    font-size: 16px;
    font-family: 'Suisse-Bold';
    color: $grey-color3;
    line-height: 1;
    margin-bottom: 15px;
    span{
      font-size: 18px;
      font-family: "Suisse-Li";
      color: #9B9B9B;
    }
  }

  .form-control{
    background-color: #f7f7f7;
    padding: 11px 16px;
    line-height: 1.4;
    height: 48px;
    border: 1px solid #F7F7F7;
    transition: 300ms;
    font-size: 16px;
    font-family: "Suisse-Reg";
    color: $grey-color;
    box-shadow: none;
    text-align: #{$start-direction};
    &::placeholder{
      color: rgba($color: $dark-one, $alpha: 0.5);
    }
    &:focus{
      border-color: $green-color;
      background-color: #f7f7f7;
      outline: none;
      box-shadow: none;
    }
  }
  textarea.form-control{
    height: auto;
  }
  
  .form-check-label{
    color: $dark-one;
    font-size: 18px;
    font-family: "Suisse-Med";
  }


  input[type="date"] {
    text-align: #{$start-direction};
    flex-direction: row-reverse;
  }



.send-btn{
  margin-top: 10px;
  &.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: $main-color;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Suisse-Bold';
    width: 140px;
    height: 48px;
  }
}

// }





.delete-btn{
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba($color: $green-color, $alpha: 0.12);
  border: 0;
  outline: none;
  box-shadow: none;
}


.save-btn{
  margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      display: flex;
      align-items: center;
      // justify-content: center;
      width: 140px;
      height: 48px;
      background-color: $main-color;
      border: 1px solid $main-color;
      border-radius: 8px;
      color: #fff;
      font-size: 18px;
      padding: 13px 20px 11px;
      margin-bottom: 12px;
      img{
        margin-#{$end-direction}: 20px;
      }
    }
}

select {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  color: $main-color;
  appearance: none;
  background-image: url(../images/select-arr.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  padding: 0 5px;
}


/*

                            neeeeeeeeeeeeeeeeeeeeeew
*/

@media(min-width:992px){
  .offset-lg-1{
    margin-#{$start-direction}: 8.33333333%;
    margin-#{$end-direction}: 0;
  }
  .offset-lg-3{
    margin-#{$start-direction}: 25%;
    margin-#{$end-direction}: 0;
  }

  .panel-body.wizard-content .col-lg-6:nth-child(odd) {
    padding-left: 25px;
  }

  .panel-body.wizard-content .col-lg-6:nth-child(even) {
      padding-right: 25px;
  }

}


.first-sec{
  padding-top: 80px;
  padding-bottom: 60px;
}
.main-h3{
  position: relative;
  font-family: 'Suisse-Bold';
  font-size: 22px;
  font-family: "Suisse-Bold";
  color: $black-color;
  margin-bottom: 42px;
  padding-#{$start-direction}: 24px;
  border-#{$start-direction}: 3px solid $green-color;
}
.main-p{
  font-size: 18px;
  font-family: 'Suisse-Li';
  color: $grey-color3;
  margin-bottom: 40px;
  line-height: 30px;
  min-height: calc(30px* 2);
}
.status{
  .status-img{
    width: 34px;
    height: 34px;
    background-color: rgba($color: $green-color, $alpha: 0.12);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      max-width: 100%;
    }
  }
}



#statusModal{
  .modal-lg{
    max-width: 935px;
    .modal-body{
      padding: 40px 45px;
    }
  }
}

.req-status{
  .title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    .img-box{
      width: 30px;
      height: 30px;
      img{
        max-width: 100%;
      }
    }
    h3{
      font-size: 20px;
      font-family: "Suisse-Bold";
      color: $green-color;
      margin-bottom: 0;
      
    }
  }
  p{
    font-size: 16px;
    color: $grey-color;
    margin-bottom: 0;
  }
}

.allow-payment{
  margin-top: 30px;
  h3{
    font-family: 'Suisse-Bold';
    font-size: 16px;
    color: $grey-color3;
    margin-bottom: 18px;
  }
}

.grey-bg{
  background-color: rgba($color: $bg-grey, $alpha: 0.1);
}
.notes{
  padding: 20px 28px;
  margin-top: 30px;
  margin-bottom: 30px;
  h3{
    font-family: 'Suisse-Bold';
    font-size: 16px;
    color: $black-color;
    margin-bottom: 23px;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      font-family: 'Suisse-Li';
      font-size: 14px;
      color: $grey-color3;
      margin-bottom: 10px;
    }
  }
  p{
    font-family: 'Suisse-Li';
    font-size: 14px;
    color: $grey-color3;
    margin-bottom: 10px;
  }

}

.close-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  .close-a{
    font-family: 'Suisse-Reg';
    font-size: 16px;
    color: #fff;
    background-color: $red-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 90px;
    height: 40px;
  }
}




.landing-card{
  // width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 30px rgba($color: #000000, $alpha: 0.08);
  position: relative;
  margin: 0 12px;
  transition: .5s;

  .img-box{
    flex: 0 0 auto;
    img{}
  }
  h3{
    font-size: 26px;
    font-family: 'Suisse-Bold';
    color: $green-color;

  }


  &:hover{
    box-shadow: 0 3px 30px rgba($color: #000000, $alpha: 0.18);
  }
}




// stepper

// body {
//   padding-top:40px;
//   padding-bottom:40px;
//   background-color:#eef5f9;
//   font-size:17px;
// }
.panel {
  // border:1px solid #fff;
  // border-radius:10px;
  // background-color:#fff;
  // box-shadow:0px 1px 3px #ccc;
}


 
 
  
  
  
  
  
  
  
  /*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: css
*/


.wizard-content .wizard {
    width: 100%;
    overflow: hidden;
    .content {
      margin-left: 0!important;

    }
  > .steps {
    position: relative;
    display: block;
    width: 100%;
    .current-info {
      position: absolute;
      left: -99999px;
    }
     ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 60px;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba($color: $bg-grey, $alpha: 0.3);
      margin-bottom: 75px;
      li {
        width: auto;
        position: relative;
        text-align: center;
        a{
          position: relative;
          // padding-top: 52px;
          // margin-top: 20px;
          // margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 15px;
        }

        &.current{
          a {
            color: $grey-color3;
            font-family: 'Suisse-Bold';
            cursor: default;
          }
          .step {
            background-color: $green-color;
            color: #FFFFFF;
          }
        }
        &.disabled{
          a{
            font-size: 20px;
            font-family: 'Suisse-Li';
            color: $grey-color3;
            &:focus{
              font-size: 20px;
              font-family: 'Suisse-Li';
              color: $grey-color3;
            }
            &:hover{
              font-size: 20px;
              font-family: 'Suisse-Li';
              color: $grey-color3;
            }
          }
        }
        &.done{
          a{
            color: #999;
            &:focus{
              color: #999;
            }
            &:hover{
              color: #999;
            }


            .step{
              position: relative;
              &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                right: 0;
                top: 0;
                border-radius: 50%;
                background-image: url(../images/check-Icon.svg);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                background-color: #63B246;
              }
            }
          }
          .step{
            background-color: #63B246 ;
            color: #fff
          }
        }
        .error{
          .step{
            border-color: #f62d51;
            color: #f62d51
          }
        }
      }
    }

    .step {
      background-color: #fff;
      display: inline-block;
      // position: absolute;
      // top: 0;
      // left: 50%;
      // margin-left: -24px;
      z-index: 10;
      // text-align: center
    }

  }


  .content{
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
    .title {
      position: absolute;
      left: -99999px
    }
    // .body {
    //   padding: 0 20px
    // }
    iframe {
      border: 0;
      width: 100%;
      height: 100%
    }

  }

  .actions {
    position: relative;
    display: block;
    // text-align: right;
    padding:  0;
    ul {
      // float: right;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &::after{
        content: '';
        display: table;
        clear: both
      }

      li {
        float: left;
        & + li{
          margin-right: auto;
        }
        a {
          width: 140px;
          height: 48px;
          background: $main-color ;
          color: #fff;
          display: block;
          padding: 7px 12px;
          border-radius: 8px;
          font-size: 16px;
          font-family: 'Suisse-Bold';
          display: flex;
          align-items: center;
          justify-content: center;
          &:focus{
            box-shadow: 0 0 0 100px rgba(0, 0, 0, .05) inset
          }
          &:hover{
            box-shadow: 0 0 0 100px rgba(0, 0, 0, .05) inset
          }
          &:active{
            box-shadow: 0 0 0 100px rgba(0, 0, 0, .1) inset
          }


        }
        a[href="#previous"]{
          background-color: #fff;
          color: $green-color;
          border: 1px solid $green-color;
          font-size: 16px;
          font-family: 'Suisse-Bold';
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:focus{
            box-shadow: 0 0 0 100px rgba(0, 0, 0, .02) inset
          }
          &:hover{
            box-shadow: 0 0 0 100px rgba(0, 0, 0, .02) inset
          }
          &:active{
            box-shadow: 0 0 0 100px rgba(0, 0, 0, .04) inset
          }
        }


        &.disabled{
          display: none;
        }
      }

    }
  
  }
  

  &.wizard-circle{
    .steps{
      .step{
        width: 40px;
        height: 40px;
        line-height: 45px;
        background-color: rgba($color: $main-color, $alpha: 0.3);
        border: none;
        border-radius: 50%;
        font-size: 20px;
        font-family: 'Suisse-Bold';
        color: $main-color;
      }
    }
  }
}



.sec-title{
  margin: 30px 0;
  padding: 18px 30px;
  background-color: rgba($color: $green-color, $alpha: 0.3);
  font-size: 24px;
  font-family: 'Suisse-Bold';
  color: $black-color;
}
.details{
  .question{
    font-size: 16px;
    font-family: 'Suisse-Bold';
    color: $grey-color3;
    margin-bottom: 16px;
  }
  .answer{
    font-size: 16px;
    font-family: 'Suisse-Li';
    color: $bg-grey;
    height: 48px;
  }
}




input[type="date"]{
  position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  content: '';
  background-image: url(../images/date-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 17px;
  left: 17px;
}




/**/

input[type="file"]{
  position: relative;
}

input[type="file"]:before {
  color: transparent;
  background: none;
  display: block;
  content: '';
  background-image: url(../images/file-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 17px;
  left: 17px;
}