  // Suisse
@font-face {
  font-family: "Suisse-Li";
  src: url($font-path + "SuisseIntl-Light.otf");
}
@font-face {
  font-family: "Suisse-Reg";
  src: url($font-path + "SuisseIntl-Regular.otf");
}
@font-face {
  font-family: "Suisse-Med";
  src: url($font-path + "SuisseIntl-Medium.ttf");
}
@font-face {
  font-family: "Suisse-semBold";
  src: url($font-path + "SuisseIntl-SemiBold.ttf");
}
@font-face {
  font-family: "Suisse-Bold";
  src: url($font-path + "SuisseIntl-Bold.otf");
}





  // // tajwal
  // @font-face {
  //   font-family: "Tajwal";
  //   src: url($font-path + "Tajawal-Light.ttf");
  //   font-weight: 300;
  // }
  // @font-face {
  //   font-family: "Tajwal";
  //   src: url($font-path + "Tajawal-Regular.ttf");
  //   font-weight: 400;
  // }
  // @font-face {
  //   font-family: "Tajwal";
  //   src: url($font-path + "Tajawal-Medium.ttf");
  //   font-weight: 500;
  // }
  // @font-face {
  //   font-family: "Tajwal";
  //   src: url($font-path + "Tajawal-Medium.ttf");
  //   font-weight: 600;
  // }
  // @font-face {
  //   font-family: "Tajwal";
  //   src: url($font-path + "Tajawal-Bold.ttf");
  //   font-weight: 700;
  // }