$font-ar: "Suisse-Reg";
$font-en: "Suisse-Reg";

$font-path: "../fonts/";
$img-path: "../images/";

// colors


// text

$grey-color2:#999999;

$light-orange:#FAC39B;
$orange-text:#EB5A3C;
$orange:#FF9619;
$dark-green-text :#0F2837;
$violet-color:#6E1946;
$gray-text: #636363;



// new
$main-color:#756B65;
$green-color:#887852;
$grey-color:#5E6065;
$black-color:#1C1C21;
$grey-color3:#6C757D;
$bg-grey:#A5A3A8;
$red-color: #BB5E4A;
$dark-one:#303030;


// bg
$dark-bg:#0F2837;
$light-grey-bg:#F3F3F3;

$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);

// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;