/*** RTL websites ***/
@font-face {
  font-family: "Suisse-Li";
  src: url("../fonts/SuisseIntl-Light.otf");
}

@font-face {
  font-family: "Suisse-Reg";
  src: url("../fonts/SuisseIntl-Regular.otf");
}

@font-face {
  font-family: "Suisse-Med";
  src: url("../fonts/SuisseIntl-Medium.ttf");
}

@font-face {
  font-family: "Suisse-semBold";
  src: url("../fonts/SuisseIntl-SemiBold.ttf");
}

@font-face {
  font-family: "Suisse-Bold";
  src: url("../fonts/SuisseIntl-Bold.otf");
}

body {
  font-family: "Suisse-Reg";
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] body {
  font-family: "Suisse-Reg";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

.mt-05 {
  margin-top: 5px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-150 {
  margin-bottom: 150px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pl-15 {
  padding-right: 15px !important;
}

.pl-30 {
  padding-right: 30px !important;
}

.strong {
  font-weight: bold;
}

ul.blue-dots {
  list-style: none;
  line-height: 32px;
}

ul.blue-dots li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

ol {
  list-style: decimal;
  line-height: 32px;
}

ol li {
  padding-right: 10px;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

html {
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 130vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

table {
  text-align: center;
}

table thead tr th, table thead tr td {
  background-color: #756B65 !important;
  font-size: 16px;
  font-family: 'Suisse-Reg';
  color: #fff !important;
  padding: 13px 15px !important;
  text-align: center;
}

table tbody tr {
  background-color: #FFFFFF;
  -webkit-transition: 300ms;
  transition: 300ms;
}

table tbody tr:nth-of-type(odd) * {
  --bs-table-bg-type: #fff !important;
  --bs-table-color-type:none !important;
}

table tbody tr:nth-of-type(even) * {
  --bs-table-bg-type: rgb(136 120 82 / 12%) !important;
  --bs-table-color-type:none !important;
}

table tbody tr:hover {
  background-color: rgba(136, 120, 82, 0.12);
  --bs-table-bg-type: none !important
      ;
}

table tbody td {
  background-color: transparent !important;
  font-size: 14px;
  color: #5E6065;
  padding: 16px 10px !important;
}

/*
    checkbox
*/
/* The container */
.form-check {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.form-check label {
  padding-right: 37px;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-check .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  background-color: #f7f7f7;
  border: 1px solid #5E6065;
  border-radius: 2px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.form-check input:checked ~ .checkmark {
  background-color: #887852;
  border-color: #887852;
}

.form-check .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-check input:checked ~ .checkmark:after {
  display: block;
}

.form-check .checkmark:after {
  right: 7px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
    raaaaaaaaaadio
*/
/* The container */
.form-radio-inline {
  display: inline-block;
  padding-left: 24px;
  margin-left: 12%;
}

.form-radio {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.form-radio label {
  font-family: 'Suisse-Li';
  color: #6C757D;
  padding-right: 37px;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.form-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-radio .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  background-color: #f7f7f7;
  border: 1px solid #5E6065;
  border-radius: 13px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.form-radio input:checked ~ .checkmark {
  background-color: #f7f7f7;
  border-color: #887852;
}

.form-radio .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio input:checked ~ .checkmark:after {
  display: block;
}

.form-radio .checkmark:after {
  right: 4px;
  top: 4px;
  width: 14px;
  height: 14px;
  border-radius: 13px;
  background-color: #887852;
}

.form-cont {
  margin-bottom: 30px;
}

.form-label {
  display: block;
  font-size: 16px;
  font-family: 'Suisse-Bold';
  color: #6C757D;
  line-height: 1;
  margin-bottom: 15px;
}

.form-label span {
  font-size: 18px;
  font-family: "Suisse-Li";
  color: #9B9B9B;
}

.form-control {
  background-color: #f7f7f7;
  padding: 11px 16px;
  line-height: 1.4;
  height: 48px;
  border: 1px solid #F7F7F7;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 16px;
  font-family: "Suisse-Reg";
  color: #5E6065;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: right;
}

.form-control::-webkit-input-placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-control:-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-control::-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-control::placeholder {
  color: rgba(48, 48, 48, 0.5);
}

.form-control:focus {
  border-color: #887852;
  background-color: #f7f7f7;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea.form-control {
  height: auto;
}

.form-check-label {
  color: #303030;
  font-size: 18px;
  font-family: "Suisse-Med";
}

input[type="date"] {
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.send-btn {
  margin-top: 10px;
}

.send-btn.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #756B65;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Suisse-Bold';
  width: 140px;
  height: 48px;
}

.delete-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(136, 120, 82, 0.12);
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.save-btn {
  margin-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.save-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 48px;
  background-color: #756B65;
  border: 1px solid #756B65;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  padding: 13px 20px 11px;
  margin-bottom: 12px;
}

.save-btn button img {
  margin-left: 20px;
}

select {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  color: #756B65;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../images/select-arr.svg);
  background-repeat: no-repeat;
  background-position: 3%;
  padding: 0 5px;
}

/*

                            neeeeeeeeeeeeeeeeeeeeeew
*/
@media (min-width: 992px) {
  .offset-lg-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .offset-lg-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .panel-body.wizard-content .col-lg-6:nth-child(odd) {
    padding-left: 25px;
  }
  .panel-body.wizard-content .col-lg-6:nth-child(even) {
    padding-right: 25px;
  }
}

.first-sec {
  padding-top: 80px;
  padding-bottom: 60px;
}

.main-h3 {
  position: relative;
  font-family: 'Suisse-Bold';
  font-size: 22px;
  font-family: "Suisse-Bold";
  color: #1C1C21;
  margin-bottom: 42px;
  padding-right: 24px;
  border-right: 3px solid #887852;
}

.main-p {
  font-size: 18px;
  font-family: 'Suisse-Li';
  color: #6C757D;
  margin-bottom: 40px;
  line-height: 30px;
  min-height: calc(30px* 2);
}

.status .status-img {
  width: 34px;
  height: 34px;
  background-color: rgba(136, 120, 82, 0.12);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status .status-img img {
  max-width: 100%;
}

#statusModal .modal-lg {
  max-width: 935px;
}

#statusModal .modal-lg .modal-body {
  padding: 40px 45px;
}

.req-status .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.req-status .title .img-box {
  width: 30px;
  height: 30px;
}

.req-status .title .img-box img {
  max-width: 100%;
}

.req-status .title h3 {
  font-size: 20px;
  font-family: "Suisse-Bold";
  color: #887852;
  margin-bottom: 0;
}

.req-status p {
  font-size: 16px;
  color: #5E6065;
  margin-bottom: 0;
}

.allow-payment {
  margin-top: 30px;
}

.allow-payment h3 {
  font-family: 'Suisse-Bold';
  font-size: 16px;
  color: #6C757D;
  margin-bottom: 18px;
}

.grey-bg {
  background-color: rgba(165, 163, 168, 0.1);
}

.notes {
  padding: 20px 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.notes h3 {
  font-family: 'Suisse-Bold';
  font-size: 16px;
  color: #1C1C21;
  margin-bottom: 23px;
}

.notes ul {
  list-style: none;
  padding: 0;
}

.notes ul li {
  font-family: 'Suisse-Li';
  font-size: 14px;
  color: #6C757D;
  margin-bottom: 10px;
}

.notes p {
  font-family: 'Suisse-Li';
  font-size: 14px;
  color: #6C757D;
  margin-bottom: 10px;
}

.close-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-modal .close-a {
  font-family: 'Suisse-Reg';
  font-size: 16px;
  color: #fff;
  background-color: #BB5E4A;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  min-width: 90px;
  height: 40px;
}

.landing-card {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.08);
  position: relative;
  margin: 0 12px;
  -webkit-transition: .5s;
  transition: .5s;
}

.landing-card .img-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.landing-card h3 {
  font-size: 26px;
  font-family: 'Suisse-Bold';
  color: #887852;
}

.landing-card:hover {
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.18);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.18);
}

/*
Template Name: Monster Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: css
*/
.wizard-content .wizard {
  width: 100%;
  overflow: hidden;
}

.wizard-content .wizard .content {
  margin-left: 0 !important;
}

.wizard-content .wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
}

.wizard-content .wizard > .steps .current-info {
  position: absolute;
  left: -99999px;
}

.wizard-content .wizard > .steps ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(165, 163, 168, 0.3);
  margin-bottom: 75px;
}

.wizard-content .wizard > .steps ul li {
  width: auto;
  position: relative;
  text-align: center;
}

.wizard-content .wizard > .steps ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.wizard-content .wizard > .steps ul li.current a {
  color: #6C757D;
  font-family: 'Suisse-Bold';
  cursor: default;
}

.wizard-content .wizard > .steps ul li.current .step {
  background-color: #887852;
  color: #FFFFFF;
}

.wizard-content .wizard > .steps ul li.disabled a {
  font-size: 20px;
  font-family: 'Suisse-Li';
  color: #6C757D;
}

.wizard-content .wizard > .steps ul li.disabled a:focus {
  font-size: 20px;
  font-family: 'Suisse-Li';
  color: #6C757D;
}

.wizard-content .wizard > .steps ul li.disabled a:hover {
  font-size: 20px;
  font-family: 'Suisse-Li';
  color: #6C757D;
}

.wizard-content .wizard > .steps ul li.done a {
  color: #999;
}

.wizard-content .wizard > .steps ul li.done a:focus {
  color: #999;
}

.wizard-content .wizard > .steps ul li.done a:hover {
  color: #999;
}

.wizard-content .wizard > .steps ul li.done .step {
  background-color: #63B246;
  color: #fff;
}

.wizard-content .wizard > .steps ul li .error .step {
  border-color: #f62d51;
  color: #f62d51;
}

.wizard-content .wizard > .steps .step {
  background-color: #fff;
  display: inline-block;
  z-index: 10;
}

.wizard-content .wizard .content {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
}

.wizard-content .wizard .content .title {
  position: absolute;
  left: -99999px;
}

.wizard-content .wizard .content iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.wizard-content .wizard .actions {
  position: relative;
  display: block;
  padding: 0;
}

.wizard-content .wizard .actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wizard-content .wizard .actions ul::after {
  content: '';
  display: table;
  clear: both;
}

.wizard-content .wizard .actions ul li {
  float: left;
}

.wizard-content .wizard .actions ul li + li {
  margin-right: auto;
}

.wizard-content .wizard .actions ul li a {
  width: 140px;
  height: 48px;
  background: #756B65;
  color: #fff;
  display: block;
  padding: 7px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Suisse-Bold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wizard-content .wizard .actions ul li a:focus {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
          box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}

.wizard-content .wizard .actions ul li a:hover {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
          box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset;
}

.wizard-content .wizard .actions ul li a:active {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.wizard-content .wizard .actions ul li a[href="#previous"] {
  background-color: #fff;
  color: #887852;
  border: 1px solid #887852;
  font-size: 16px;
  font-family: 'Suisse-Bold';
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wizard-content .wizard .actions ul li a[href="#previous"]:focus {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
          box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
}

.wizard-content .wizard .actions ul li a[href="#previous"]:hover {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
          box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
}

.wizard-content .wizard .actions ul li a[href="#previous"]:active {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
          box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
}

.wizard-content .wizard .actions ul li.disabled {
  display: none;
}

.wizard-content .wizard.wizard-circle .steps .step {
  width: 40px;
  height: 40px;
  line-height: 45px;
  background-color: rgba(117, 107, 101, 0.3);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-family: 'Suisse-Bold';
  color: #756B65;
}

.sec-title {
  margin: 30px 0;
  padding: 18px 30px;
  background-color: rgba(136, 120, 82, 0.3);
  font-size: 24px;
  font-family: 'Suisse-Bold';
  color: #1C1C21;
}

.details .question {
  font-size: 16px;
  font-family: 'Suisse-Bold';
  color: #6C757D;
  margin-bottom: 16px;
}

.details .answer {
  font-size: 16px;
  font-family: 'Suisse-Li';
  color: #A5A3A8;
  height: 48px;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

input[type="date"]:before {
  color: transparent;
  background: none;
  display: block;
  content: '';
  background-image: url(../images/date-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 17px;
  left: 17px;
}

/**/
input[type="file"] {
  position: relative;
}

input[type="file"]:before {
  color: transparent;
  background: none;
  display: block;
  content: '';
  background-image: url(../images/file-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 17px;
  left: 17px;
}

@media (min-width: 1400px) {
  .container, .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1314px;
  }
}
/*# sourceMappingURL=styleRTL.css.map */